/*.input {*/
/*}*/

.login {
    -fx-font-size: 12px;
}

.login-root {
    -fx-font-family      : "Trebuchet MS", sans-serif;
    -fx-text-fill: #ADADAD;
    -fx-background-color : #3C3F41;
}


.login-label {
-fx-text-fill: #ADADAD;
}

.login-btn
{
-fx-fonts-weight       : bold;
-fx-background-color  : linear-gradient(#344A64, #263549);
-fx-border-color      : #575D65;
-fx-border-radius     : 4px;
-fx-background-radius : 4px;
-fx-text-fill         : #ADADAD;
}

.login-btn:hover
{
-fx-background-color : #202C39;
-fx-text-fill        : #ADADAD;
}

.login-btn:pressed
{
-fx-background-color : #2C3E50;
-fx-text-fill        : #A7BEE5;
}

.login-text-field {
    -fx-text-fill        : #ADADAD;
    -fx-background-color : #45494A;
    -fx-border-color     : #646464;
    -fx-border-radius    : 4px;
    -fx-background-radius: 4px;
    -fx-prompt-text-fill : #585858;
}

.login-text-field:focused, .login-text-field:hover {
    -fx-background-color : #45494A;
    -fx-text-fill        : ADADAD;
    -fx-border-color     : #5794D1;
    -fx-border-width     : 1px;
    -fx-border-style     : solid;
    -fx-border-radius    : 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(199, 219, 239, 0.25), 1, 1, 0, 0);
}

/*.left-split {*/
/*-fx-background-color: #3E434C;*/
/*}*/

/*.right-split {*/
/*-fx-background-color: #3C3F41;*/
/*}*/

/*.left-top-bar {*/
/*-fx-background-color: #2B3643;*/
/*}*/

/*.portrait {*/
/*-fx-border-width: 2px;*/
/*-fx-border-color: #ffffff;*/
/*!*-fx-background-radius: 40px;*!*/
/*!*-fx-border-radius: 40px;*!*/
/*}*/

/*.text-region {*/
/*-fx-background-color: #2B2B2B;*/
/*}*/

/* http://graphicburger.com/simple-line-icons-webfont/ */

* {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #959fad;
    -fx-padding: 0px !important;
}

.header {
    -fx-background-color: #2B3643;
}

.sidebar-menu {
    -fx-background-color: #364150;
}

.page-content {
    -fx-background-color: #EAEAEA;
}

.split-pane {
    -fx-padding: 0px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 1px;
    -fx-background-color: #515151;
}

.warning-hint {
    -fx-background-color: #FFB878;
}

.text-field {
    -fx-text-fill: #333;
    -fx-background-color: #2B3643;
    -fx-border-width: 0;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    /*-fx-background-image:url('apr.png');*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.text-field:focused, .text-field:hover {
    -fx-background-color: #3F4F62;
    -fx-border-width: 0;
}
